@ IN SOA {{ ansible_hostname }}.osedemo.example.com. root.osedemo.example.com. (
  1      ; serial
  21600  ; refresh after 6 hours
  3600   ; retry after 1 hour
  86400  ; expire after 1 day
  3600   ; minimum TTL of 1 hour
)

  IN NS {{ ansible_hostname }}.osedemo.example.com.

{% for host in groups['hosts'] %}
{{ host }} IN A {{ hostvars[host]['ansible_host'] }}
{% endfor %}
cluster IN A {{ hostvars['demo-ose-lb-1']['ansible_host'] }}
*.apps 60 IN A {{ hostvars['demo-ose-node-1']['ansible_host'] }}
          IN A {{ hostvars['demo-ose-node-2']['ansible_host'] }}
