# Create an OSEv3 group that contains the master, nodes, etcd, and lb groups.
# The lb group lets Ansible configure HAProxy as the load balancing solution.
# Comment lb out if your load balancer is pre-configured.
[OSEv3:children]
masters
nodes
etcd
lb

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
deployment_type=openshift-enterprise
ansible_ssh_user=cloud-user
ansible_sudo=true

# Uncomment the following to enable htpasswd authentication; defaults to
# DenyAllPasswordIdentityProvider.
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

# Native high availbility cluster method with optional load balancer.
# If no lb group is defined installer assumes that a load balancer has
# been preconfigured. For installation the value of
# openshift_master_cluster_hostname must resolve to the load balancer
# or to one or all of the masters defined in the inventory if no load
# balancer is present.
openshift_master_cluster_method=native
openshift_master_cluster_hostname=cluster.osedemo.internal
openshift_master_cluster_public_hostname=cluster.osedemo.example.com

# override the default controller lease ttl
#osm_controller_lease_ttl=30

# host group for masters
[masters]
demo-ose-master-1.osedemo.internal openshift_hostname=demo-ose-master-1.osedemo.internal openshift_public_hostname=demo-ose-master-1.osedemo.example.com openshift_public_ip={{ hostvars['demo-ose-master-1']['ansible_host'] }}
demo-ose-master-2.osedemo.internal openshift_hostname=demo-ose-master-2.osedemo.internal openshift_public_hostname=demo-ose-master-2.osedemo.example.com openshift_public_ip={{ hostvars['demo-ose-master-2']['ansible_host'] }}
demo-ose-master-3.osedemo.internal openshift_hostname=demo-ose-master-3.osedemo.internal openshift_public_hostname=demo-ose-master-3.osedemo.example.com openshift_public_ip={{ hostvars['demo-ose-master-3']['ansible_host'] }}

# host group for etcd
[etcd:children]
masters

# Specify load balancer host
[lb]
demo-ose-lb-1.osedemo.internal openshift_hostname=demo-ose-lb-1.osedemo.internal openshift_public_hostname=demo-ose-lb-1.osedemo.example.com

# host group for nodes, includes region info
[nodes]
demo-ose-master-[1:3].osedemo.internal openshift_node_labels="{'region': 'infra', 'zone': 'default'}" openshift_schedulable=false
demo-ose-node-1.osedemo.internal openshift_node_labels="{'region': 'infra', 'zone': 'default'}" openshift_hostname=demo-ose-node-1.osedemo.internal openshift_public_hostname=demo-ose-node-1.osedemo.example.com openshift_public_ip={{ hostvars['demo-ose-node-1']['ansible_host'] }}
demo-ose-node-2.osedemo.internal openshift_node_labels="{'region': 'infra', 'zone': 'default'}" openshift_hostname=demo-ose-node-2.osedemo.internal openshift_public_hostname=demo-ose-node-2.osedemo.example.com openshift_public_ip={{ hostvars['demo-ose-node-2']['ansible_host'] }}
demo-ose-node-3.osedemo.internal openshift_node_labels="{'region': 'primary', 'zone': 'blue'}" openshift_hostname=demo-ose-node-3.osedemo.internal openshift_public_hostname=demo-ose-node-3.osedemo.example.com openshift_public_ip={{ hostvars['demo-ose-node-3']['ansible_host'] }}
demo-ose-node-4.osedemo.internal openshift_node_labels="{'region': 'primary', 'zone': 'blue'}" openshift_hostname=demo-ose-node-4.osedemo.internal openshift_public_hostname=demo-ose-node-4.osedemo.example.com openshift_public_ip={{ hostvars['demo-ose-node-4']['ansible_host'] }}
